#page #content {
    padding-left: 0;
    padding-right: 0;
}

.aui-page-header {
    background: url('makeadiff-banner.png') no-repeat center;
    background-size: 735px;
    height: 300px;
}

.aui-page-header h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    padding-top: 40px;
    color: #fff;
}

.aui-page-header h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 40px;
    color: #fff;
}

.aui-theme-default .aui-page-panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.aui-page-panel-inner {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.skill-list{
    width: 500px;
    margin-bottom: 10px;
}
.skill-list ul{
    padding-left: 0;
    float:left;
    margin:0 0 0 0;
}
.skill-list ul li{
    list-style: none;
    float: left;
    padding-bottom: 5px ;
}
.aui-label{
    margin-right: 5px !important; 
}

.project-header .project-lozenge{
    position: relative;
    top: 1px;
    left: 8px;
}
.skill-content{
    margin-bottom: 20px;
}

.project-description {
    margin-bottom: 20px;
    height: 100px;
    overflow: hidden;
    text-overflow:ellipsis;
}
.aui-progress-tracker{
    margin-top: 20px !important;
}
.project-due-time .project-time-icon{
    position: relative;
    top:1px;
}
.project-small{
    font-size:small;
}
.project-organisation {
    font-size: x-large;
}

#featured-projects {
    margin-bottom: 40px;
}

.project-image-small {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background: no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid #ccc;
}

.featured-project-tile-container {
    margin-left: -20px;
}

.featured-project-tile {
    width: 310px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

