html, body, #page{
    height: 100%;
}

#page {
    background: url('Tea-Picker-by-Ara-Arzoumani.jpg') no-repeat left -100px;
}

.aui-page-panel {
    background-color: transparent;
    border: 0 none;
}

.aui-page-panel-inner {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 400px;
    right: 100px;
    color: white;
}

.aui-page-panel-inner h1 {
    color: white;
}

.aui-page-panel-inner form.aui label{
    color: white;
}

.aui-header {
    background-color: rgba(255, 255, 255, 0.75);
}

#image-credits{
    position:fixed;
    bottom: 20px;
    right: 20px;
}

#image-credits h2 {
    color: rgba(0,0,0,0.75);
    font-size: 18px;
}

#foundation-log-in a {
    color: #fff;
}

#foundation-log-in .error {
    margin-bottom: 10px;
    padding: 10px;
}