img.teaser {
}

.blank-image {
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.project-banner-image {
    width: 100%;
}

#project-tabs .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item:first-child {
    margin-left: 0;
}

#project-tabs .aui-tabs.aui-tabs-disabled>.tabs-menu>.menu-item>a {
    cursor: pointer;
}

.aui-page-panel-content {
    padding-left: 0;
    padding-right: 0;
}

.aui-page-panel-sidebar {
    padding-right: 0;
}

#description .content {
    white-space: pre-line;
}

.makeadiff-contributors
{
    list-style-type: none;
    padding-left: 20px;
}

.makeadiff-contributor-avatar
{
    float: left;
    padding-right: 5px;
}

.makeadiff-contributor
{
    padding-bottom: 5px;
}

table.makeadiff-contributors-table > tbody > tr >td {
    vertical-align: middle;
}

table.aui.makeadiff-contributors-table {
    margin-bottom: 50px;
}

/* Hide Wiki Details tab for now */
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item[data-name='details'] {
    display: none;
}

