.aui-page-panel {
    min-height: 350px;
}

.user-avatar-trigger-container {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.user-avatar-trigger-container .aui-avatar {
    cursor: pointer;
}

.user-avatar-trigger-container .aui-avatar:hover {
    background: #fff;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.aui-page-panel-inner {
    padding-top: 0;
}

.signup-avatar-buttons-container {
    text-align: center;
    /* Hide until the user has selected an avatar */
    display: none;
}