#* @vtlvariable name="action" type="com.atlassian.makeadiff.action.About" *#
<html>
<head>
    <title>$action.getText("makeadiff.about.title")</title>
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>$action.getText("makeadiff.about.title")</h1>
        </div>
    </div>
</header>
<div id="about-page" class="aui-page-panel">
    <div class="aui-page-panel-inner">
        #* replace with something editable through the UI *#
        <p><strong>Make a Diff</strong> connects technology volunteers with nonprofit organizations to convert ideas into successful charitable projects.</p>
        <p><strong>Make a Diff</strong> is an online, JIRA-based platform, developed by the Atlassian Foundation. <strong>Make a Diff</strong> is currently in a pilot phase. We're doing a soft launch by piloting projects and testing the usability of the website with Atlassian volunteers and three of the Foundation's charity partners. Once we've ironed out the bugs, we'll open it up to allow more charities to list their nonprofit projects and enable techies outside of Atlassian to contribute their time.</p>
        <p><strong>How will it work?</strong></p>
            <ul>
                <li><strong>Nonprofits</strong> list projects, such as website development, document management, software customisation, or project road-mapping, and with the help of a volunteer "project champion", manage their project and related tasks through to completion.</li>
                <li><strong>Technology volunteers</strong> – developers, designers, project managers, and more – can browse every charity project on <strong>Make a Diff</strong>, select what project they'd like to work on, and which task they would like to do, and start giving back right away.</li>
            </ul>
        <p><strong>Make a Diff</strong> will be available for public use later this year.</p>
        <p>Ready to <strong>Make a Diff</strong>? <a href="/view/signup">Sign up now</a> and we will keep you up-to-date via the <i>Make a Diff newsletter</i></p>
        <p>You can also help us develop Make a Diff - check out the <a href="/browse/MD/tasks">Make a Diff tasks</a>.</p>
        &nbsp;
        <p class="about-video-container">
            <iframe src="//player.vimeo.com/video/75636328" width="800" height="600" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </p>
        <p class="about-video-caption">
            Probono video production by Digital Storytellers in conjunction with the Atlassian Foundation.
            <br>
            <a href="http://digitalstorytellers.com.au">digitalstorytellers.com.au</a>
        </p>
        <p></p>
    </div>
</body>
</html>
