#* @vtlvariable name="action" type="com.atlassian.makeadiff.action.FoundationSignUp" *#
#* @vtlvariable name="webResourceManager" type="com.atlassian.plugin.webresource.WebResourceManager" *#

<html>
<head>
    ${webResourceManager.requireResource("com.atlassian.makeadiff.makeadiff-jira-plugin:login-web-resources")}
    <title>$action.getText("makeadiff.login.title")</title>
</head>
<body class="aui-page-focused aui-page-focused-medium">
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <h1>${action.getText("makeadiff.login.title")}</h1>
            <form action="FoundationLogin.jspa" method="post" id="login-form" class="aui">
                <div class="form-body">
                    <div class="field-group">
                        <label for="email">
                            ${action.getText("makeadiff.signup.form.email")}
                        </label>
                        <input type="text" class="text" id="email" name="os_username" value="$textutils.htmlEncode($!{action.email})"/>
                        #if ($action.getErrors().get("email"))
                            <div class="error">$textutils.htmlEncode($action.getErrors().get("email").toString())</div>
                        #end
                    </div>
                    <div class="field-group">
                        <label for="password">
                            ${action.getText("makeadiff.signup.form.password")}
                        </label>
                        <input type="password" class="text" id="password" name="os_password" value="$textutils.htmlEncode($!{action.password})"/>
                        #if ($action.getErrors().get("password"))
                            <div class="error">$textutils.htmlEncode($action.getErrors().get("password").toString())</div>
                        #end
                    </div>
                    <input type="hidden" id="login" name="login" value="Log In";
                    <input type="hidden" id="destination" name="os_destination" value="/view/home";
                </div>
                <div class="group">
                    <input class="checkbox" id="login-form-remember-me" name="os_cookie" type="checkbox" value="true" />
                    <label for="login-form-remember-me">
                        ${action.getText('makeadiff.login.remember.me')}
                    </label>
                </div>
                <a href="${req.contextPath}/view/signup"</a>
                    ${i18n.getText('makeadiff.login.signup.link')}</a>

                <div class="buttons-container form-footer">
                    <div class="buttons">
                        #set ($submitAccessKey = ${i18n.getText("AUI.form.submit.button.accesskey")})
                        #set ($cancelAccessKey = ${i18n.getText("AUI.form.cancel.link.accesskey")})

                        <input id="login-form-submit"
                               accesskey="$submitAccessKey" class="aui-button"
                               name="Log In"
                               title="${action.getText("AUI.form.submit.button.tooltip", "${submitAccessKey}", "${action.modifierKey}")}"
                               type="submit"
                               value="${i18n.getText('makeadiff.login.submit')}"/>
                        <a accesskey="${cancelAccessKey}"
                           class="aui-button aui-button-link cancel"
                           href="${req.contextPath}"
                           title="${i18n.getText("AUI.form.cancel.link.tooltip", "${cancelAccessKey}", "${action.modifierKey}")}">
                            ${i18n.getText("AUI.form.cancel.link.text")}</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<div id="image-credits">
    <h2>Tea Picker by Ara Arzoumani</h2>
</div>
</body>
</html>
